---
const year = new Date().getFullYear();
---
<footer class="site-footer container">
  <span>&copy; {year} - Tanaya Datar </span>
  <span>
    <a href="mailto:tanayadatar21@gmail.com">email</a> .
    <a href="https://github.com/tanaya2026" target="_blank" rel="noreferrer">github</a> ·
    <a href="https://www.linkedin.com/in/tanaya-datar-7484b62b5/" target="_blank" rel="noreferrer">linkedin</a>
  </span>
</footer>
